body{
	background: #332C62;
}
*{
	box-sizing: border-box;
	font-family: NanumGothic;
	padding: 1px;
}
.login-form{
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.title{
	font-size: 48px;
	color: #FFFDFD;
	text-align: left;
}
.username-field,
.email-field, 
.password-field, 
.re-password-field,
.first-name-field,
.last-name-field,
.create-account{
	display: flex;
}

.create-account[disabled]
{
  pointer-events: none;
  opacity: 0.7;
}

.label{
	font-size: 24px;
	color: #FFFFFF;
	text-align: left;
}

.email-field-error, .password-field-error, select, textarea{
	display: flex;
	background-color: red;
	color: red;
}

.input-label{
	font-size: 24px;
	color: #FFFFFF;
	text-align: left;
}

.username,
.email,
.password,
.re-password,
.first-name,
.last-name{
	background-color: #D8D8D8;
	border: 1px solid #979797;
	font-size: 36px;
	border-radius: 10px;
}

.email-error, .password-error{
	background-color: #D8D8D8;
	border: 1px solid #979797;
	font-size: 36px;
	border-radius: 10px;
	color: red
}
.username-clear,
.email-clear,
.first-name-clear,
.last-name-clear,
.show-password,
.show-password-again{
	margin-left: -45px;
}
.password-requirement-inactive{
display: none;
margin-right: 50px;

}
.password-requirement-active{
	color:white;
	position: relative;
	right: -50px;	
}
.invalid{
	color: red;
	
}
.valid{
	color: green;
	
}

.sign-in-text, .create-account-text{
	width: 398px;
	background-color: #88C4F8;
	border: 1px solid #979797;
	color: #FFFFFF;
	border-radius: 10px;
	font-size: 36px;
	text-align: center;
	cursor: pointer;
}
/* .sign-in-text::placeholder, .create-account-text::placeholder{
	color: white;
} */
.forgot-password{
	font-size: 12px;
	color: rgb(144, 144, 233);
	text-align: left;
}
.sign-up{	
font-size: 24px;
color: #ADACAE;
text-align: left;
}