
#root{
	margin:none;
}
.login-form,.signup-form{
	background-color: transparent;
	box-sizing: border-box;
	font-family: NanumGothic;
	content: center;
	padding: 10px;
	max-width: 1170px;
	min-width: 375px;
	max-height: 813px;
	margin: auto;
	margin-top: 4%;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10%
	
}
.username-field,
.email-field, 
.password-field, 
.re-password-field,
.first-name-field,
.last-name-field,
.create-account,.sign-in{
	display: flex;
}

.title{
	font-size: 48px;
	color: #0F4C81;
	text-align: left;
	overflow-wrap: visible;
}

.create-account[disabled]
{
  pointer-events: none;
  opacity: 0.7;
}

.label{
	font-size: 24px;
	color: #0F4C81;
	text-align: left;
	padding: none;
	margin: none
}

.email-field-error, .password-field-error, select, textarea{
	display: flex;
	background-color: red;
	color: red;
}

.input-label{
	display: block; /* add this */
    /* padding-top: 5px; */
	font-size: 24px;
	color: #0F4C81;
	text-align: left;
	padding: 0px;
	margin: 0px
}

.username,
.email,
.password,
.re-password,
.first-name,
.last-name{
	border-top-style: none;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: solid;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	background-color: transparent;
  -webkit-text-fill-color: grey;
  -webkit-box-shadow: 0 0 0px 1000px transparant inset;
  transition: background-color 5000s ease-in-out 0s;
}



input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	background-color: transparent;
  border-top: none;
  border-bottom-style: solid;
  -webkit-text-fill-color: grey;
  -webkit-box-shadow: 0 0 0px 1000px transparant inset;
  transition: background-color 5000s ease-in-out 0s;
}

.email-error, .password-error{
	background-color: #D8D8D8;
	border: 1px solid #979797;
	font-size: 18px;
	border-radius: 10px;
	color: red
}
.username-clear,
.email-clear,
.first-name-clear,
.last-name-clear,
.show-password,
.show-password-again{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: none;
}
.password-requirement-inactive{
	display: none;
	margin-right: 50px;
}

.password-requirement-active{
	color:white;
	position: relative;
	right:50px;	
}
.invalid{
	color: red;
	
}
.valid{
	color: green;
	
}

.forgot-password{
	flex-direction: row;
	font-size: 12px;
	color: rgb(144, 144, 233);
	text-align: left;
}
.sign-up{	
	flex-direction: row;
	font-size: 24px;
	color: #ADACAE;
	text-align: left;
}

.sign-in-text, .create-account-text {
	width: 150px ;
	background-color: #0F4C81;;
	font-size: 19px;
	color: white;
	text-align: center;
	border-radius: 12px;
	cursor: pointer;
}
.sign-in-text:hover,.schedule:hover,.schedule:hover {
	background-color:red; /* Green */
	color: white;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
  }
