.meal {
    background: white;
    border-radius: 24px;
    width: 35%;
    height: 30%;
    padding: 12px 20px;
}

.custom {
    height: 30%;
    font-family: NanumGothic;
    font-size: 36px;
    color: #FFFFFF;
    text-align: left;
    border-radius: 10px;
}

.select {
    width: 75%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;

}