body{
    background: #FFFFFF;
}
.user-meal-tile {
    background: #0F4C81;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 24px;
    width: 60%;
    min-height: 200px;
    padding: 12px 10px;
    position: center;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px
}
.meal-day{ 
    font-size: 24px;
    color: hsla(0, 0%, 100%, 0.86);
    text-align: left;
}
.meal-description{
    font-size: 36px;
    color: hsla(0, 0%, 100%, 0.86);
    text-align: left;
}

