
body{
    background: #FFFFFF;
}
.user-workout-tile {
    background: #0F4C81;
    border-radius: 24px;
    width: 92%;
    min-height: 200px;
    padding: 12px 10px;
    position: center;
    text-align: center;
    margin: 10px;
}
.workout-day{ 
    font-size: 24px;
    color: #FFFFFF;
    text-align: left;
}
.workout-description{
    font-size: 36px;
    color: #FFFFFF;
    text-align: left;
}

