.list{
	display: flex;
	flex-direction: column;
	position: center;
	
}

.list-item,.details{
	background: #0F4C81;
    border-radius: 24px;
    width: 92%;
    min-height: 200px;
    padding: 12px 10px;
    position: center;
    text-align: center;
	margin: 10px;
	font-size: 48px;
	color: #FFFFFF;
	text-align: left;
}

.details-not-flipped{
	transform: rotateY(0deg);
	transition: transform 1s;
	display: flex;
	flex-direction: column;
	position: center;
	background: #0F4C81;
	color: #FFFFFF;
	border-radius: 24px 24px 0px 0px;
    width: 92%;
    min-height: 200px;
    position: center;
    text-align: left;
    margin: 1px;

}
.name, .intensity, .duration, .description-wrapper, .amount{
	padding: 5px;
	margin: 5px;
	
}
.details-flipped{
	transform: rotateY(360deg);
	transition: transform 1.2s;
	background: #FFFFFF ;
	color: #0F4C81;;
    border-radius: 24px;
    width: 92%;
    min-height: 200px;
    padding: 5px;
    text-align: left;
    margin: 1px;
	
}
.name {
	font-size: 19px;
}
.favorite {
	text-align: right;
}


  



